body {
   background-color: #f8f9fa;
}

.container {
   background-color: #ffffff;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;
   width: 95%;
   max-width: 95%;
}

section {
   background-color: #f0f0f0;
   padding: 20px;
   border-radius: 8px;
   margin-bottom: 20px;
}

header h1, section header h2 {
   color: #007bff;
}

footer {
   background-color: #343a40;
   color: #ffffff;
   padding: 15px 0;
   border-radius: 0 0 10px 10px;
}


.founder-img {
    width: 100%;
    height: auto;
    max-width: 90%;
    border-radius: 8px;
}

h2 {
    font-size: calc(1.25rem + 1vw); /* Default Font Size */
 }

 @media (min-width: 576px) {
    h2 {
       font-size: calc(1.25rem + 0.5vw); /* Sliding scale with viewport width */
    }
 }

 @media (min-width: 768px) {
    h2 {
       font-size: calc(1.25rem + 1vw); /* Adjust Font Size for Small Screens and above */
    }
 }

 h1 {
    font-size: 2em; /* Default Font Size */
 }


 /* Maximum Width for Adrian's Section */
 #founder2 {
    max-width: 100%;
 }